DB_NAME=fortnite_festival
DB_USER=festival_app
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

SYNC_DB_USER=festival_sync
SYNC_DB_PASSWORD=sync_password

FORTNITE_SPARK_TRACKS_URL=https://fortnitecontent-website-prod07.ol.epicgames.com/content/api/pages/fortnite-game/spark-tracks